# Ignore node_modules in both frontend and backend
blog_frontend/node_modules/
blog_backend/node_modules/

# Ignore build folder from React
blog_frontend/build/

# Ignore environment variables
blog_frontend/.env*
blog_backend/.env*

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS-specific
.DS_Store
